#final-page
{
  padding-top: 40px;
  margin-bottom: 200px;
  color: $main-gray-color;

  h1, p
  {
    background-color: $darker-vanilla-color;
    padding: 40px; margin: 40px 60px;
    border-radius: 12px;
    text-align: center;
  }

  #title
  {
    display: grid;
    grid-template-columns: 2fr 8fr;

    img { width: 170px; margin: auto auto auto 40%; }
  }

  h1 { font: bold 40px "Open Sans"; letter-spacing: 2px;}
  p { font: 24px "Open Sans"; }

  @media(max-width: 549px)
  {
    #title h1 { margin: 20px 30px; font-size: 28px; }
    p { margin: 20px 30px; font-size: 18px; }
  }

  @media(max-width: 749px)
  {
    section { #title { grid-template-columns: 1fr; }
    img { display: none; } }
  }
}

#dots
{
  position: relative;
  width: 100%;
  margin-bottom: -5px;
  background: linear-gradient(to bottom, transparent 0%, $react-color 100%);
  transform: scaleX(-1);
  user-select: none;
  z-index: -1;
}
