// Footer Styling

footer
{
  height: 120px; width: 100%;
  background-color: $react-color;
  transform-origin: center;
  font: 22px "Open Sans";
  color: $main-gray-color;
  padding-top: 29px;
  text-align: center;
  z-index: 1;

  a
  {
    font-weight: 600;
    text-decoration: none;
    color: $main-gray-color;
  }
}
