// Home Section Styling

header
{
  width: 100%; height: 100vh;
  animation: launch 2.6s;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
  background:
    linear-gradient(to top right, $react-color 0%, $react-color 50%, beige 50%, beige 100%);

  @keyframes launch
  { from { background-size: 100vw 0px; } to { background-size: 100vw 100vh; } }

  background-size: 100vw 0px;
  background-repeat: no-repeat;
  background-color: $react-color;

  #react-img
  {
    position: absolute;
    top: 50%; left: 50%;
    width: 80%; max-width: 1280px;
    transform: translate(-50%, -50%);
    user-select: none;
    animation: spin 18s infinite;
    overflow: hidden;
  }

  @keyframes spin
  {
    from { transform: translate(-50%, -50%) rotate(0deg);}
    to { transform: translate(-50%, -50%) rotate(360deg);}
  }

  h1
  {
    position: absolute;
    font: bold 44px "Open Sans";
    color: rgba(128, 128, 128, 0.4);
    letter-spacing: 3px;
    left: 50%; top: 50%;
    white-space: nowrap;
    transform: translate(-45%, -63%);
    animation: fadeIn 5s;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
    user-select: none;
    z-index: 1; opacity: 0;
  }

  @keyframes fadeIn
  { from { opacity: 0; } to { opacity: 1; } }

  span { font-size: 48px; }
  #react { color: $darker-react-color; }
  #vanilla-js { color: $darker-vanilla-color; }

  @media (max-width: 768px)
  { h1 { font-size: 32px; } span { font-size: 34px; } }

  @media (max-width: 359px)
  {
    h1
    {
      color:rgba(128, 128, 128, 0.6);
      white-space: pre-wrap;
      filter: brightness(0.7);
    }
  }
}
