// Navbar Styling

nav
{
  position: fixed;
  right: 15px; bottom: 15px;
  text-align: right;
  animation: none;
  z-index: 2;

  ul
  {
    list-style: none;
    font: 24px "Open Sans";

    a
    {
      color: $main-gray-color;
      text-decoration: none;

      li
      {
        padding: 15px;
        transition: .15s ease-in-out;
        transform-origin: right;
      }

      li:hover { transform: scale(1.2); }
    }

    a:hover { color: black; }
    a.current { color: #fcb82b; }
  }

  @media(max-width: 649px)
  { ul a { display: none; } }
}
