// React Section Styling

#react-page
{
  position: relative;
  background-color: $react-color;
  width: 100%;
  min-height: 950px;

  #wrapper
  {
    p
    {
      font: bold 44px "Open Sans";
      color: $darker-react-color;
      padding: 45px 65px 65px 65px;
      text-align: center;
      user-select: none;

      img { width: 100px; transform: translate(20%, 33%); }
    }

    margin: 0 30px;

    section
    {
      display: grid;
      grid-template-columns: repeat(1, 100%);
      column-gap: 20px; row-gap: 20px;
      max-width: 100%;

      div
      {
        display: inline-flex;
        background-color: $darker-react-color;
        align-items: center;
        padding: 20px; margin: auto;
        font: 20px "Open Sans";
        color: $main-gray-color;
        border-radius: 15px;
        transition: .23s ease-in-out;
        user-select: none;

        img
        {
          height: 50px;
          margin-right: 15px;
          border-radius: 7px;
          filter: contrast(0.7);
          transition: .23s ease-in-out;
        }
      }

      div:last-child { margin-bottom: 55px; }

      div:hover { color: black; transform: scale(1.1); }
      div:hover > img { filter: contrast(1); }
    }
  }
}

#transition { position: relative; width: 100%; }
